featuretools[complete]>=1.31.0
graphviz>=0.20.3
ipykernel>=6.29.5
lightgbm>=4.5.0
matplotlib>=3.9.4
numpy>=2.0.2
pandas>=2.2.3
pip>=24.3.1
scikit-learn>=1.5.2
scikit-survival>=0.23.1
setuptools>=75.8.0
re